# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific folders and files
.cproject
.project
.settings
/CMakeFiles
/run-results
/run
cmake_install.cmake
CMakeCache.txt
Makefile
complimb-biomech
.DS_Store
